.rounded-lg{
    border-radius: 15%;
}
.bg{
    background-color: #28282b;
}
#row1{
    position: relative;
}
#img{
    float: left;
}
.bg-l{
    background-color: whitesmoke;
    color: gray;
}
.rounded-md{
    border-radius: 7.5%;
}
#list{
    height: 500px;
    background-image: url("https://cdn.discordapp.com/attachments/977125743790272513/977890273969471495/4688-717x403.jpg");
    background-position: unset;
    background-repeat: round;
    background-clip: border-box;
}
#audio{
    background-color: #38383a;
    border-top-left-radius: 7.5%;
    border-bottom-left-radius: 7.5%;
    height: 500px;
    border-right: 4px dashed black
}
#model{
    height: 500px;
    border-radius: 5%;
    background-clip: border-box;
}
#listbox{
    overflow: auto;
    height: 450px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#upload{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 100%;
}
.but{
    font-size: 16px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
}
.bg-d{
    background-color: #38383a;
}
#row1{
    height: 500px;
}
.centre-style{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rows{
    height: 240px;
}
.img{
    object-fit: fill;
}
#result{
    display: flex;
    align-items: center;
    height: 250px;
    border-bottom: 4px dashed black
}
#acc{
    display: flex;
    align-items: center;
    height: 250px;
}
#list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    margin-left: 50px;
    margin-right: 50px;
}
.l{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 130px;
}