{% extends "base.html" %}
{% block content %}
<div>
    <div id="row1" class="row">
        <div class="col-11 mt-3">
            <h1 align="center">About The Web Application!</h1>
            <p align="center"> This is a research oriented web application built by the students of VJTI.<br>
                The purpose of this application is to gather data regarding accuracy of various models for the purpose of music genre detection.<br>
            </p>
        </div>
        <div class="mt-3">
            <img id="img" src="https://media.discordapp.net/attachments/977125743790272513/977125784370184192/VJTI.jpg" alt="VJTI Logo" height="120" class="rounded-lg">
        </div>
    </div>
    <div class="row ml-5">
        <h3>About the team:</h3>
    </div>
    <div class="row ml-5">
        <h4>Our Mentor:</h4>
        <div class="col-12">
            <div class="row">
                <div class="col-4"></div>
                <div class="col mt-3 mx-auto">
                    <div class="text-center">
                        <img class="rounded-lg" src="https://media.discordapp.net/attachments/977125743790272513/977445811434696714/Rathod_Sir_1_1.jpg?width=564&height=662" alt="Dr. Rathod Photo" height="300">
                    </div>
                    <div class="text-center mt-2">
                        <h3 align="center"><b>Dr. Devichand Rathod</b></h3>
                        <p align="center" >
                        Assistant Professor (Selection Stage),<br>
                        Electrical Engineering Department,<br>
                        Veermata Jijabai Technological Institute (VJTI), Mumbai
                        </p>
                    </div>
                </div>
                <div class="col-4"></div>
            </div> 
        </div>  
    </div>
    <div class="row ml-5">
        <h4>Our Team:</h4>
        <div class="col-12">
            <div class="row">
                <div class="col-3 mx-auto">
                    <div class="col mx-auto">
                        <div class="text-center mt-2">
                            <img class="rounded-lg" src="https://media.discordapp.net/attachments/977125743790272513/977125965077569566/Shubh.jpg" alt="Dr. Rathod Photo" height="300">
                        </div>
                        <div class="mt-2 text-center">
                            <h3 align="center">Shubh Ganatra<br></h3>
                            <p align="center">
                                Bachelor's of Technology in Electronics and Telecommunications Engineering<br>
                                VJTI, Mumbai
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3 mx-auto">
                    <div class="text-center mt-2">
                        <img class="rounded-lg" src="https://media.discordapp.net/attachments/977125743790272513/977126579106902036/Profile-min.jpg?width=511&height=663" alt="Dr. Rathod Photo" height="300">
                    </div>
                    <div class="mt-2 text-center">
                        <h3 align="center">Shubham Agrawal</h3>
                        <p align="center">
                            Bachelor's of Technology in Electronics and Telecommunications Engineering<br>
                            VJTI, Mumbai
                        </p>
                    </div>
                </div>
                <div class="col-3 mx-auto">
                    <div class="col mx-auto">
                        <div class="text-center mt-2">
                            <img class="rounded-lg" src="https://media.discordapp.net/attachments/977125743790272513/977125874207961108/Atharva.jpg?width=476&height=662" alt="Dr. Rathod Photo" height="300">
                        </div>
                        <div class="mt-2 text-center">
                            <h3 align="center">Atharva Wadekar</h3>
                            <p align="center">
                                Bachelor's of Technology in Electronics and Telecommunications Engineering<br>
                                VJTI, Mumbai
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3 mx-auto">
                    <div class="col mx-auto">
                        <div class="text-center mt-2">
                            <img class="rounded-lg" src="https://media.discordapp.net/attachments/977125743790272513/977125927446269982/1.jpg" alt="Dr. Rathod Photo" height="300">
                        </div>
                        <div class="mt-2 text-center">
                            <h3 align="center">Prathmesh Shinde</h3>
                            <p align="center">
                                Bachelor's of Technology in Electronics and Telecommunications Engineering<br>
                                VJTI, Mumbai
                            </p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>  
    </div>
</div>
    
{% endblock content %}