{% extends "base.html" %}
{% block content %}
<style>
    .bg-l{
        background-color: whitesmoke;
        color: gray;
    }
    .rounded-md{
        border-radius: 7.5%;
    }
    #list{
        height: 500px;
    }
    #audio{
        height: 500px;
        border-right: 4px dashed black
    }
    #listbox{
        overflow: auto;
        height: 450px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
</style>
<div class="container mt-5">
    <div class="row">
        <div id="list" class="col-8 bg-l rounded-md">
            <div class="row">
                <div class="col-6" id="audio">
                    <div id="listbox">
                        <ul>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                            <li>test</li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">Button</div>
            </div>
        </div>
        <div class="col-4">
            Model List
        </div>
    </div>
</div>
{% endblock content%}