{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div id="list" class="col-8 bg-l rounded-md">
            <div class="row">
                <div class="col-6" id="audio">
                    <div id="listbox">
                        <div class="btn-group-vertical btn-group-toggle btn-block" data-toggle="buttons">  
                            <label class="btn btn-secondary">  
                              <input type="radio" name="options" id="professor1"> Audio File  
                            </label>  
                            <label class="btn btn-secondary">  
                                <input type="radio" name="optio1ns" id="professor2"> Audio File  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="optifrgbons" id="professowr"> Audio File  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="optvtbdfbdions" id="profeffvssor"> Audio File  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="optityumnrcons" id="professvfvor"> Audio File  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="opthyjfmnfvxions" id="profesrvdsor"> Audio File  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="optbtrynfgbfvions" id="proferdggssor"> Audio File  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="opttrhgsvcions" id="profegrdgssor"> Audio File  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="optgtrhtbfvsions" id="profegrdgrgssor"> Audio File  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="optthsvcdions" id="professrtrtvor"> Audio File  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="opttdhfvdsions" id="profesggeeesor"> Audio File  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="opgtdgrfdvstions" id="profesrgtbgdvsor"> Audio File  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="optgtdgrvsions" id="progegdtbtfessor"> Audio File  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="optgtgdrfdcions" id="profgrtgegessor"> Audio File  
                            </label>
                          </div>  
                    </div>
                </div>
                <div id="upload" class="col-6">
                    <div>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3 bg-l" id="model">
            <div class="row">
                <div class="col">
                    <div id="listbox">
                        <div class="btn-group-vertical btn-group-toggle btn-block" data-toggle="buttons">
                            <label class="btn btn-secondary">  
                                <input type="radio" name="options" id="professor" checked> Model  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="options" id="professor" checked> Model  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="options" id="professor" checked> Model  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="options" id="professor" checked> Model  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="options" id="professor" checked> Model  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="options" id="professor" checked> Model  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="options" id="professor" checked> Model  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="options" id="professor" checked> Model  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="options" id="professor" checked> Model  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="options" id="professor" checked> Model  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="options" id="professor" checked> Model  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="options" id="professor" checked> Model  
                            </label>
                            <label class="btn btn-secondary">  
                                <input type="radio" name="options" id="professor" checked> Model  
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <input class="btn btn-secondary" type="reset" value="Reset">
                </div>
                <div class="col-6">
                    <input class="btn btn-secondary" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}